body {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  text-align: justify;
  box-sizing: border-box;
  line-height: 1.25;
  color: #222; }

.body-wrapper {
  width: 100%;
  position: absolute;
  padding: 1.5em;
  box-sizing: inherit; }

@media (min-width: 48em) {
  .body-wrapper {
    width: calc(100% * 3 / 4); } }

h1, h4 {
  font-family: 'Roboto', sans-serif; }

h1 {
  color: #12a112;
  border-bottom: 1px solid lightgrey; }

h4 {
  color: #1b981b; }

#profile-photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 5em;
  height: 5em;
  padding: 1.5em;
  filter: grayscale(1) brightness(4); }

#contact-methods {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  #contact-methods > li {
    display: inline; }
    #contact-methods > li:nth-last-child(n+2)::after {
      /* every child except the last */
      content: " //";
      color: #ccc; }

.experience__list {
  list-style: none;
  padding: 0; }
  .experience__list > li {
    display: flex;
    flex-direction: column;
    margin: 1em 0; }
  .experience__list p {
    margin: 0 1em; }
    .experience__list p:first-child {
      min-width: 120px;
      color: #1b981b; }

@media print, (min-width: 48em) {
  .experience__list > li {
    flex-direction: row; }
  .experience__list p:first-child {
    text-align: right; } }

a {
  text-decoration: none;
  color: #1b981b; }

@media print {
  a[href^="http"]::after {
    content: " (" attr(href) ") "; } }

@media screen {
  #updated-cv-link {
    display: none; } }

::selection {
  background-color: #ffff66; }
